*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# JetBrains Rider
.idea/
*.iml
target/
log/
out/
*.txt

thosttraderapi_se.dll
thostmduserapi_se.dll
thostapi_wrap.dll
classes/
src/main/java/META-INF/MANIFEST.MF
*.docx
*.dll
/config/FarmerConfig_wzy.xml
